@model IEnumerable<ticket.API.Data.Entities.Turn>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-Type="1">CAJA</a> |
    <a asp-action="Create" asp-route-Type="2">CITAS</a> |
    <a asp-action="Create" asp-route-Type="3">ENTREGA DE RESULTADOS</a> |
    <a asp-action="Edit" asp-route-Type="1">SIGUIENTE CAJA</a> |
    <a asp-action="Edit" asp-route-Type="2">SIGUIENTE CITAS</a> |
    <a asp-action="Edit" asp-route-Type="3">SIGUIENTE ENTREGA RESULTADOS</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicesType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpeditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttentionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicesType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpeditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttentionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
